.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.slides {
    display: flex;
}

img {
    width: 100%;
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 16px;
    background-color: black;
    color: white;
    border: none;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}